In [49]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

In [50]:
## load the Trained Model , scalar pickle , onehot
model = load_model("model.h5")

## Load the encoder and scaler
with open('label_encoder_gender.pkl' , 'rb') as file:
    label_encoder_gender = pickle.load(file=file)

with open('onehot_encoder_geo.pkl' , 'rb') as file:
    label_encoder_geo = pickle.load(file=file)

with open('scaler.pkl' , 'rb') as file:
    scaler = pickle.load(file)

In [51]:
# Example Input data
input_data = {
    'CreditScore' : 600,
    'Geography' : 'France',
    'Gender' : 'Male',
    'Age' : 40,
    'Tenure' : 3,
    'Balance' : 60000,
    'NumOfProducts' : 2,
    'HasCrCard' : 1,
    'IsActiveMember' : 1,
    'EstimatedSalary' : 60000
}

In [52]:
input_data['Geography']

'France'

In [53]:
## Encode the Geogarphy

geo_encoded = label_encoder_geo.transform([[input_data['Geography']]]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded , columns=label_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

c:\Users\knrt7\Downloads\Chrun-DL-Project\venv\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [54]:
data = pd.DataFrame([input_data])
data

   CreditScore Geography Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          600    France   Male  ...          1               1            60000

[1 rows x 10 columns]

In [55]:
data = pd.concat([data.drop('Geography' , axis=1) , geo_encoded_df] ,axis=1)
data.head()

   CreditScore Gender  ...  Geography_Germany  Geography_Spain
0          600   Male  ...                0.0              0.0

[1 rows x 12 columns]

In [56]:
## Encode the catrgorical data - gender

data['Gender'] = label_encoder_gender.transform(data['Gender'])

In [57]:
data

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          600       1  ...                0.0              0.0

[1 rows x 12 columns]

In [59]:
## Scaling the Input data
input_scaled = scaler.transform(data)
input_scaled

array([[-0.53598516,  0.91324755,  0.10479359, -0.69539349, -0.25781119,
         0.80843615,  0.64920267,  0.97481699, -0.70296551,  1.00150113,
        -0.57946723, -0.57638802]])

In [60]:
## Predict Churn
prediction = model.predict(input_scaled)
prediction

1/1 [==============================] - 0s 298ms/step

array([[0.03928968]], dtype=float32)

In [61]:
prediction_probab = prediction[0][0]

In [62]:
if prediction_probab > 0.5 :
    print("The Customer is Likely to Churn")
else:
    print("The Customer is not Likely to Churn")

The Customer is not Likely to Churn